<header>
  <div id="logo">
    <span>Rod1Andrade</span>
    <p class="typewriter">Dev. Java & Angular</p>
  </div>
  <nav>
    <ul>
      <li><a href="#" class="active">Boas Vindas</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Projetos</a></li>
      <li><a href="#">Ferramentas</a></li>
    </ul>
  </nav>
</header>
<main>
  <section>
    <header>
      <h1>
        Desenvolvedor Fullstack apaixonado
        por tecnologia, aprendizado e soluções.
      </h1>
    </header>
    <article id="resume">
      <p>
        Eu sou <a>Rodrigo Andrade</a>, um Desenvolvedor fullstack que vem ganhando experiência no mercado.
        Estou me especialisando na stack Java + Angular, baseando meu desenvolvimento em soluções web,
        porém um curioso em tecnologias mobiles, aplicações CLI e desenvolvimento de jogos.
      </p>
      <br>
      <br>
      <p>
        Atualmente trabalho na <a>Stefanini IT Solutions</a> com a senioridade de Jr, uma empresa incrível que
        tem possibilitado melhorar minhas habilidades, tanto soft skill quanto hard skills.
        Esta empresa tem fortificado a minha paixão por tecnologia, auto gestão e desenvolvimento ágil, me colocando
        mais perto do sonho de me especializar e de se tornar referência como um Desenvolvedor.
      </p>
    </article>
    <article id="personal-projects">
      <h2>Últimos Projetos Pessoais</h2>
      <section>
        <div class="pesonal-projects-item" *ngFor="let el of getLastProjects()">
          <div class="pesonal-projects-item-about">
            <div class="pesonal-projects-item-about-title">
              <h3>{{el.name | RemoveUnderscore }}</h3>
              <fa-icon 
                matTooltip="Clonar repositorio"
                [icon]="['far', 'copy']"
                ngClass="fa-icon"
                cdkCopyToClipboard='git clone {{el.clone_url}}'
                (click)="openSnackBar('Copiado!','x')"
                ></fa-icon>
            </div>
            <p>{{el.description}}</p>
          </div>
          <div class="pesonal-projects-item-footer">
            <ul>
              <li><b>Linguagem:</b> {{el.language}}</li>
              <li><b>Criado em:</b> {{el.created_at | date: 'dd/MM/yyyy - hh:mm:ss aaa'}}</li>
              <li><b>Última atualização:</b> {{el.updated_at | date: 'dd/MM/yyyy - hh:mm:ss aaa'}}</li>
            </ul>
          </div>
        </div>
      </section>
    </article>
  </section>
</main>
<router-outlet></router-outlet>