<header>
  <div id="logo">
    <span>Rod1Andrade</span>
    <p>Dev. Java & Angular</p>
  </div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Projetos</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">Ferramentas</a></li>
    </ul>
  </nav>
</header>
<main>
  <section>
    <header>
      <h1>
        Desenvolvedor Fullstack apaixonado
        por tecnologia, aprendizado e soluções.
      </h1>
    </header>
    <article>
      <p>
        Eu sou Rodrigo Andrade, um Desenvolvedor fullstack que vem ganhando experiência no mercado.
        Estou me especialisando na stack Java + Angular, baseando meu desenvolvimento em soluções web,
        porém um curioso em tecnologias mobiles, aplicações CLI e desenvolvimento de jogos.
      </p>
      <br>
      <br>
      <p>
        Atualmente trabalho na <a>Stefanini IT Solutions</a> com a senioridade de Jr, uma empresa incrível que
        tem me possibilitado melhorar minhas habilidades, tanto soft skill quanto hard skills.
        Está empresa tem fortificado a minha paixão por tecnologia, auto gestão e desenvolvimento ágil, me colocando
        mais perto do sonho de se especializar e de se tornar referência como um Desenvolvedor.
      </p>
    </article>
  </section>
</main>
<router-outlet></router-outlet>