/* Classes indepententes */
.typewriter
    overflow: hidden
    border-right: .15em solid orange
    white-space: nowrap
    animation: typing 3.5s steps(40, end),blink-caret .75s step-end infinite
.active
    text-style: bold
    background-color: #2E2E2E
.fa-icon
    cursor: pointer
.fa-icon:hover
    color: #2C7BDE
header
    padding: 1.5em
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    #logo
        border-bottom: .1em solid #6C6C6C
        span
            font-weight: bold
    nav 
        fa-icon
            visibility: hidden
        ul
            max-width: 750px
            display: flex
            flex-direction: row
        li
            padding: .1em .3em
            a
                border: .1em
                border-radius: .3em
                padding: .8em
            :hover
                background-color: #2E2E2E

main
    display: flex
    flex-direction: column
    align-items: center
    max-width: 880px
    padding: 50px
    margin-left: auto
    margin-right: auto
    header
        h1
            font-size: 3.653rem
            line-height: 5.202rem
            margin-block-start: 0.67em
            margin-block-end: 0.67em
            margin-inline-start: 0px
            margin-inline-end: 0px
            font-weight: bold
    #resume p 
        color: #b1b1b1
        text-align: justify
    #where-found-me
        #social-medias
            display: flex
            flex-direction: row
            justify-content: start
            li
                margin-right: .3em
    #personal-projects
        margin-top: 50px
        display: grid
        grid-template-columns: 1fr 3fr
        .pesonal-projects-item
            display: flex
            flex-direction: column
            padding: .5em
            margin-bottom: 10px
            background-color: #2E2E2E
            border: 1em
            border-radius: .3em
        .pesonal-projects-item-about
            margin-bottom: .8em
            h3
                text-transform: capitalize
            .pesonal-projects-item-about-title
                justify-content: space-between
                display: flex
                flex-direction: row
                margin-bottom: 1.5em
                .action-icons
                    width: 50px
                    display: flex
                    justify-content: space-evenly
            .pesonal-projects-item-about-description
                font-size: 13px
        .pesonal-projects-item-footer
            display: flex
            flex-direction: row
            justify-content: space-between
            margin-top: 1em
            .date-info
                font-size: 12px
                font-style: italic
            .language-info
                padding: .2em .5em
                background-color: #FF9900
                color: black
                font-weight: bold
                border: 1em
                border-radius: .2em
       
#sidenav
    position: fixed
    top: 0
    right: 0
    bottom: 0
    background: black
    width: 400px
    #header
        display: flex
        flex-direction: row-reverse
        margin-right: 1em
        margin-top: .5em
        fa-icon
            cursor: pointer
    ul
        margin-top: 2em
        margin-left: 2em
        margin-right: 2em
        li
            padding: .3em
            padding: .8em
            border: .1em
            border-radius: .3em
            margin-bottom: 1.5em
        li:hover
            background-color: #2E2E2E
            cursor: pointer

/*Animacoes que compoem o typewriter*/
@keyframes typing 
    from
        width: 0 
    to 
        width: 100% 

@keyframes blink-caret
    from,to
        border-color: transparent
    50%
        border-color: orange

/* media queries */
@media screen and (max-width: 750px)
    #top-header
        display: flex
        flex-direction: row
        justify-content: space-between
        nav 
            fa-icon
                visibility: visible
                font-size: 1.6em
                cursor: pointer
            ul
                visibility: hidden
                display: none
    main
        max-width: max-content
        padding: 50px
        #personal-projects
            display: grid
            grid-template-columns: 1fr
            h2
                margin-bottom: 2em

@media screen and (min-width: 751px)
    #sidenav
        visibility: hidden
        display: none