// GLOBAL CONFIGS
html, body
    height: 100%
*
    margin: 0
    padding: 0
    font-family: 'Roboto Mono', monospace
    body
        color: #EAEAEA
        background-color: #111111
// RESET
a
    color: #EAEAEA
    text-decoration: none
ul
    list-style: none